<% include header %>

        <div id ="ctnt" class="container">
                <main>
                        <section id="upper-left"></section>
                        <section id="upper-mid"> </section>
                        <section id="upper-right"></section>
                    
                        <section id="center-left"></section>
                        <section id="center-mid"> </section>
                        <section id="center-right"> </section>
                    
                        <section id="lower-left"> </section>
                        <section id="lower-mid"> </section>
                        <section id="lower-right"></section>

                        <button type="button" id="resetbtn" class="btn btn-primary" onclick="reset()">Reset</button>
                </main>
                      <aside>
                        <h1>Changes made:</h1>
                        <section>
                          <ul>
                            <li>Changed response time of CPU (Player 2).</li>
                            <li>Added Win OR Lose for the game.</li>
                            <li>Added Reset functionality.</li>
                            <li>Game Tie alert and auto reset if no other move is possible and no one wins.</li>
                          </ul>

                        </section>
                    </aside>

        </div>

        <% include footer %>