<% include header %>
 
  <h2>Tic-Tac-Toe</h2>
  <main id='main-game'>
    <section id="upper-left"> </section>
    <section id="upper-mid"> </section>
    <section id="upper-right"> </section>

    <section id="center-left"> </section>
    <section id="center-mid"> </section>
    <section id="center-right"> </section>

    <section id="lower-left"> </section>
    <section id="lower-mid"> </section>
    <section id="lower-right"> </section>
  </main>
  <aside>
    <h2>Specification</h2>
    <section>
      <ul>
        <li>Uses full-width header and footer.</li>
        <li>Uses main 3 x 3 css grid, each with a section.</li>
        <li>When user clicks a childless section, it adds an X.</li>
        <li>If the move was valid, it selects a section for the computer and adds an O.</li>
      </ul>
      <ol>
        <li>Improve the computer's selection algorithm.</li>
        <li>Add an algorithm to check for a winner.</li>
        <li>If winner, announce the winner and end the game.</li>
        <li>Add "Play again?" button to clear the board.</li>
        <li>Combine AddX and AddO into a single function.</li>
      </ol>
    </section>
  </aside>

  <script src="js/game.js"></script>
  <% include footer %>